body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px 0;
}

.container {
  width: 70%;
  margin: auto;
    padding: 50px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  color: #ccc;
  margin-bottom: 30px;
}

.code-box {
  background: #1a1a1a;
  border-radius: 6px;
  padding: 25px;
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 10px;
  margin-bottom: 15px;
}

.keyword {
  color: #4db8ff;
}

.varname {
  color: #fff;
}

input {
  background: #222;
  border: 1px solid #444;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  width: 150px;
}

input::placeholder {
  color: #666;
}

.error-msg {
  color: #ff4747;
  margin-top: -5px;
  height: 22px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
}

.check {
  background: #ff7a00;
  color: white;
}

.solution {
  background: #444;
  color: white;
}

.solution-text {
  margin-top: 20px;
  font-size: 20px;
  color: gold;
  display: none;
}
