.lesson-item.locked {
  opacity: 0.5;
  pointer-events: none;
}

.lesson-item .icon {
  display: none;
}

.lesson-item.unlocked .tick {
  display: inline;
}

.lesson-item.locked .lock {
  display: inline;
}
